Source: clinfo
Section: admin
Priority: optional
Maintainer: Debian OpenCL Maintainers <pkg-opencl-devel@lists.alioth.debian.org>
Uploaders:
 Simon Richter <sjr@debian.org>,
 Andreas Beckmann <anbe@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 ocl-icd-opencl-dev | opencl-dev,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/Oblomov/clinfo
Vcs-Browser: https://salsa.debian.org/opencl-team/clinfo
Vcs-Git: https://salsa.debian.org/opencl-team/clinfo.git

Package: clinfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
 clinfo,
 amd-clinfo,
 fglrx-updates-core,
Replaces:
 clinfo,
 amd-clinfo,
 fglrx-updates-core,
Provides:
 clinfo,
Description: Query OpenCL system information
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package contains a tool that queries the capabilities of the available
 OpenCL drivers.
